body{

margin:0;
font-family:Montserrat;
background:#f5f5f5;

}


header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px;

background:#0c7a33;
color:white;

}


nav a{

color:white;
margin-left:20px;
text-decoration:none;
font-weight:600;

}


.banner{

height:500px;

background:linear-gradient(
rgba(0,0,0,0.5),
rgba(0,0,0,0.5)
),

url("https://images.unsplash.com/photo-1517649763962-0c623066013b");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;

color:white;
text-align:center;

}


.banner h2{

font-size:40px;

}


.banner button{

margin-top:20px;
padding:12px 25px;
border:none;

background:#d62828;
color:white;
font-size:16px;
cursor:pointer;

}


.container{

max-width:1100px;
margin:auto;
padding:50px 20px;

}


h2{

color:#0c7a33;

}


table{

width:100%;
border-collapse:collapse;

}


th{

background:#d62828;
color:white;

}


th,td{

padding:10px;
border:1px solid #ddd;

}


.games{

display:flex;
gap:20px;

}


.game-card{

background:white;
padding:20px;
border-left:5px solid #0c7a33;

}


.players{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:20px;

}


.player{

background:white;

padding:20px;

border-top:4px solid #d62828;

text-align:center;

}


footer{

background:#0c7a33;
color:white;

text-align:center;

padding:20px;

}