body{

margin:0;
font-family:Montserrat;
background:#f5f5f5;

}


header{

display:flex;
justify-content:space-between;
align-items:center;

background:#0c7a33;

color:white;

padding:20px;

}


nav a{

color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;

}


.banner{

height:500px;

background:linear-gradient(
rgba(0,0,0,0.5),
rgba(0,0,0,0.5)
),

url("https://images.unsplash.com/photo-1574629810360-7efbbe195018");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;

text-align:center;

color:white;

}


.banner h2{

font-size:40px;

}


.banner button{

padding:12px 25px;
background:#d62828;
border:none;
color:white;
font-size:16px;
cursor:pointer;

}


.container{

max-width:1100px;
margin:auto;
padding:50px 20px;

}


.categorias button{

background:#0c7a33;
color:white;
border:none;

padding:10px 18px;
margin:5px;

font-weight:bold;
cursor:pointer;

border-radius:6px;

}


.categorias button:hover{

background:#d62828;

}


.game-card{

background:white;

padding:20px;

margin:15px 0;

border-left:5px solid #0c7a33;

}


.player{

background:white;

padding:20px;

margin:10px;

display:inline-block;

width:200px;

border-top:4px solid #d62828;

text-align:center;

}


footer{

background:#0c7a33;
color:white;

text-align:center;

padding:20px;

}
